#include "MyWindow.h"
#include "WINRES.h"
MYICON ICON amc.ico
MYMENU MENU 
BEGIN

	MENUITEM "&WHITE" , IDM_WHITE
	MENUITEM "&LIGHTGRAY" , IDM_LTGRAY
	MENUITEM "&GRAY" , IDM_GRAY
	MENUITEM "&DKGRAY" , IDM_DKGRAY
	MENUITEM "&BLACK" , IDM_BLACK
	MENUITEM "&ABOUT..." , IDM_APPABOUT
END


ABOUT DIALOG DISCARDABLE 32,32,180,100
STYLE DS_MODALFRAME | WS_POPUP
FONT 8 , "MS SANS series"
BEGIN

	DEFPUSHBUTTON "OK" , IDOK ,66,80,50,14
	CTEXT "ABOUT" , IDC_STATIC ,40,12,100,8
	CTEXT "Inspired By OMKAR AJAGUNDE" , IDC_STATIC ,7,40,166,8
	CTEXT "OMKAR AJAGUNDE" , IDC_STATIC ,7,62,166,8
END









